################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Sketcher.AppMetrics/obj
/Sketcher.AppMetrics/bin/Debug/netcoreapp2.2
/Sketcher.Autofac/obj
/Sketcher.Autofac/bin/Debug/netcoreapp2.2
/Sketcher.Core/obj
/Sketcher.Core/bin/Debug/netcoreapp2.2
/Sketcher.Domain/obj
/Sketcher.Domain/bin/Debug/netcoreapp2.2
/Sketcher.Exceptionless/obj
/Sketcher.Exceptionless/bin/Debug/netcoreapp2.2
/Sketcher.Ocelot/obj
/Sketcher.Ocelot/bin/Debug/netcoreapp2.2
